.container2 {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.section2 {
    background-color: #C1E8EB;
    padding: 100px;
    border-radius: 8px;
    width: 45%;
    text-align: center;
}


.section2 ul li {
    color: #050D5C;
    margin: 20px 0;
    margin-bottom: 75px;
    display: flex;
    align-items: center;
}
#info-hunter {
    background-color: #DCF1F2;

}
    

.section2  {
    color: #035853;
}
